.h1{
    color: #ffffff;
     font-size: 40px;
     padding: 10px 220px;
}

.p{
    color: #ffffff;
    font-size: 25px;
    margin-left: 90px;
}

.body-form{
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
   background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/58/81/5057a32b923a673.jpg);
 /* filter: blur(5px);*/
}

body{
    background: url("http://www.fonstola.ru/pic/201111/1920x1080/fonstola.ru-55696.jpg")
}

.li-1{
    font-size: 25px;
    color: #000000;
    font-weight:bold ;
}

.inscription{
    font-size: 20px;
    
}

input{
   margin-left: 55px;
   margin-top: 10px;
}

label{
    display: inline-block;
    width: 100px;
    margin-left: 55px;
}
.string{
    display: inline;
    font-size: 20px;
    margin-top: 20px;
}

ul{
    list-style: none;
}

.checkbox{
    display: inline;
    font-size: 15px;  
}

select{
    margin-left: 55px; 
}

.screen{
    margin-left: 160px; 
}

.tr{
    margin-left: 160px;
}

.question{
    margin-top: 10px;
    font-weight: bold
}
label.required:after
{
    color: red;
    content: " * ";
}
.star
{
    color: red;
}